form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }
  
  label {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
/*   
  input[type="file"] {
    margin-bottom: 1rem;
  } */
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }


  .C-proposal_container{
    width: 70%;
    margin-left: 15%;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 5px;
  }
  .imgcontainer{
    padding: 10px;
    border: 1px solid black;
    height:auto;
    width: 100%;
    margin-top: 2px;
  }
  

  