.card-container{
    position: absolute;
    top: 50%;
    left: 70%;
    translate: -20% -50%;
}

label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  a {
    color: #008080;
    text-decoration: none;
    margin-left: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }